:root {
  --azul-dnc: #0c70f2;
  --preto-dnc: #303030;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
      180deg,
      rgba(12, 112, 242, 0.5) 19.91%,
      rgba(12, 112, 242, 0) 24.84%
    ),
    linear-gradient(0deg, #303030, #303030),
    linear-gradient(0deg, #bababa, #bababa);
  background-repeat: no-repeat;
}

/*Seção Menu*/
#menuPrincipal {
  background: var(--preto-dnc);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #bababa;
}

#menu {
  display: flex;
  align-items: center;
}

#menu a {
  padding-left: 30px;
  color: white;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  line-height: 30px;
}

#menu a:hover {
  color: #cccccc;
}

#buttonMenu {
  background: #0c70f2;
  color: white;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  align-items: center;
  border: 0;
  height: 30px;
  width: 70px;
  box-shadow: 3px 2px 4px rgb(12, 112, 242, 0.25);
}

#buttonMenu:hover {
  transform: translateY(-2px);
}

/*Seção Conteúdo*/

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

header {
  color: white;
  font-family: "Inter", sans-serif;
}

header h1 {
  font-size: 60px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}

header h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 100px;
}

.invert{
  background-color: black;
  font-weight: bold;  
  padding: 2px;
}

/*Seção Formulario*/
form{
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: 600;
  width: 500px;
}

.form-group{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

input{
  border-radius: 10px;
  height: 35px;
  border: none;
  padding-left: 10px;
}

.checkBoxItens{
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.checker{
  display: flex;
  align-items: center;
}

.checker label{
  margin-left: 8px;
}

input[type="checkbox"]{
  transform: scale(1.5);
}

input[type="submit"]{
  background: #0c70f2;
  width: 100%;
  height: 40px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-top: 60px;
  box-shadow: 3px 2px 4px rgb(12, 112, 242, 0.25);
  cursor: pointer;
  transition: background-color 0.8s ease;
}

#teste:hover{
  background-color: #1cbb07;
}

/* Seção Footer */

footer{
  background: #0C70F2;
  color: white;
  font-family: "Inter", sans-serif;
}

footer ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  text-align: center;
  margin: 15px 0px 15px 0px;
}

footer nav{
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer h3{
  text-align: center;
  font-weight: 800;
  background-color: black;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}

footer ul li a{
  color: white;
  text-decoration: none;
}

footer .endereco{
  align-items: center;
  display: flex;
}

footer ul li a:hover{
  color: #cccccc;
}

.line1{
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
}

.line2{
  display: flex;
  justify-content: center;
  padding: 50px 0px 20px 0px;
}

.line2 a {
  text-decoration: none;
  color: white;
}

.line2 a:hover{
  color: #cccccc;
}

@media only screen and (max-width:600px){

  #menuPrincipal{
    display: flex;
    flex-direction: column;
    height: auto;
  }

  #menu{
    flex-direction: column;
    width: 100%;
    margin: 0px;
  }

  #menu a{
    height: 50px;
    align-items: center;
    display: flex;
  }
}